
.container{
    padding: 10px;
}
.breed-select{
    border: 1px solid rgba(168, 45, 45, 0.84);
    height: 30px;
    width: 200px;
    border-radius: 5px;
    background-color: white;
    
}
.cat-card{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.cat-card-info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    
}
.temperament{
    font-size: 20px;
}

